@font-face {
  font-family: "Aspekta";
  src: local("Aspekta"), url(~/assets/font/aspekta.ttf) format("truetype");
}
@font-face {
  font-family: "okta";
  src: local("okta"), url(~/assets/font/okta.ttf) format("truetype");
}
@font-face {
  font-family: "sego";
  src: local("sego"), url(~/assets/font/sego.ttf) format("truetype");
}
html {
  scroll-behavior: smooth;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.el-popup-parent--hidden {
  width: 100% !important;
}
.el-dialog {
  border-radius: 20px !important;
}
.el-dialog__header {
  padding:0px !important;
}
.el-dialog__body {
  padding:0px !important;
}