
@import 'gitart-vue-dialog/dist/style.css';

@font-face {
  font-family: "Aspekta";
  src: local("Aspekta"), url(~/assets/font/aspekta.ttf) format("truetype");
}
@font-face {
  font-family: "okta";
  src: local("okta"), url(~/assets/font/okta.ttf) format("truetype");
}
@font-face {
  font-family: "sego";
  src: local("sego"), url(~/assets/font/sego.ttf) format("truetype");
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}